main{
    .projects{

        .link__project{
            &:first-child{
                article{
                    height: 100%;
                    background: url('../img/projects/image-web-design-large.jpg');
                }
            }
            &:last-child{
                row-gap: 24px;
                article{
                    &:first-child{
                        background: url('../img/projects/image-app-design.jpg');
                    }
                    &:last-child{
                        background: url('../img/projects/image-web-design-small.jpg');
                    }
                }
            }
        }
    }
}
