@import '_banner2.scss';
main{
    .tback__block{
        margin-top: -297px;
    }

    .about__banner{
        .banner__info{
            padding: 111px 87px 135px 95px;

            p{
                width: 458px;
            }
        }
    }
}